# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtualenv
venv/
.venv/
env/

# Variáveis de ambiente
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Docker
data/

# Testes / temporários
teste
teste.md
